<div >
   <div class="jumbotron jumbotron-fluid" style="overflow: hidden;">
     <div class="container">
       <h1 class="display-3">WarehouseAction</h1>
       <p class="lead">Built for Infor M3 Warehouse and Production sites
       </p>
       <hr class="my-4">
       <p>Built to integrate with and extend Infor M3, WarehouseAction streamlines your warehouse operations. 
         Your warehouse mobility solution needs to bridge the gap between your ERP and your shop floor, giving you the ability to streamline, automate and gain real-time visibility into accurate inventory data.</p>
     </div>
   </div>
 </div>