<div class="container">
    <div class="row p-3">
        &nbsp;
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
        <div class="col-8">
            <div class="display-1 p-1">Hmmm...</div>
            <span class="display-4 p-1">That didnt work to well...</span>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            &nbsp;
        </div>
        <div class="col-8 text-center">
            <button mat-raised-button color="primary" routerLink="/home">
                Home Page
            </button>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
</div>
