<div class="container">
  <div class="row">
    <span class="display-4">Current Functions</span>
    <p class="lead">Integrated functions built with years of experience
    </p>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active">
          <h2 class="m-0">Receiving</h2>
        </li>
        <li class="list-group-item">DO Receiving</li>
        <li class="list-group-item">DO Receiving by scan count</li>
        <li class="list-group-item">PO Receiving by ASN (delivery note)</li>
        <li class="list-group-item">PO Receiving no ASN (local PO)</li>
        <li class="list-group-item">PO Putaway</li>
        <li class="list-group-item">2-Step Putaway</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active">
          <h2 class="m-0">Dispatch</h2>
        </li>
        <li class="list-group-item">
          Pick & Pack by Report number (label pick)
        </li>
        <li class="list-group-item">Pick & Pack by Delivery number (pick slip)</li>
        <li class="list-group-item">Pick & Pack by Filter (paperless)</li>
        <li class="list-group-item">Cluster Pick & Pack (multiple orders at once)</li>
        <li class="list-group-item">Wave picking (batch picking)</li>
        <li class="list-group-item">Move to dock by package</li>
        <li class="list-group-item">Pack in pack</li>
        <li class="list-group-item">Load build by package</li>
        <li class="list-group-item">Load shipment</li>
        <li class="list-group-item">Proof of delivery</li>
        <li class="list-group-item">Print documents by delivery/package</li>
        <li class="list-group-item">Pick by Item</li>
        <li class="list-group-item">Sublot picking</li>
        <li class="list-group-item">Manual simple packing</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item accent"><h2 class="m-0">Stock Toolbox</h2></li>
        <li class="list-group-item">Stock enquiry</li>
        <li class="list-group-item">Reclassification</li>
        <li class="list-group-item">Reclass – Reject</li>
        <li class="list-group-item">Reclass – Inspect</li>
        <li class="list-group-item">Reclass – Hold Y/N</li>
        <li class="list-group-item">Update attributes</li>
        <li class="list-group-item">Print Put away label</li>
        <li class="list-group-item">Consolidating screen</li>
        <li class="list-group-item">Wildcard search</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item" style="background-color: turquoise;">
          <h2 class="m-0">
            Stock Move
          </h2>
        </li>
        <li class="list-group-item">Stock Move</li>
        <li class="list-group-item">Move All</li>
        <li class="list-group-item">Scan Count</li>
        <li class="list-group-item">Add DO</li>
        <li class="list-group-item">Pick Face Replenishment</li>
        <li class="list-group-item">Container Movement</li>
        <li class="list-group-item">Palletisation</li>
        <li class="list-group-item">Sublot palletisation</li>
        <li class="list-group-item">Pack in pack palletization</li>
        <li class="list-group-item">Pack transfer</li>
        <li class="list-group-item">Extended validations</li>
        <li class="list-group-item">Lot blending</li>
        <li class="list-group-item">Directed putaway by attribute</li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active"><h5 class="m-0">
          Manufacturing
        </h5></li>
        <li class="list-group-item">Issue to manufacturing order</li>
        <li class="list-group-item">Receipt of manufacturing order</li>
        <li class="list-group-item">Bi Products</li>
        <li class="list-group-item">Orderless production</li>
        <li class="list-group-item">2 stage move in issue to MO</li>
      </ul>
    </div>

    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active"><h2 class="m-0">

        </h2></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>

      </ul>
    </div>

    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active"><h2 class="m-0">

        </h2></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>

      </ul>
    </div>

    <div class="col-md-6 col-lg-4">
      <ul class="list-group">
        <li class="list-group-item active"><h2 class="m-0">

        </h2></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>

      </ul>
    </div>
  </div>
</div>
